<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LoginPage</title>
</head>
<body>
<h2>login page.</h2>
<span th:text="${errorMsg}"></span>
<form th:action="@{/login}" method="post" th:object="${loginForm}">
	<div>
		<label>ID:</label>
		<input type="text" th:field="*{loginId}">
	</div>
	<span th:if="${#fields.hasErrors('loginId')}"th:errors="*{loginId}"></span>
	
	<div>
		<label>password:</label>
		<input type="password" th:field="*{password}">
	</div>
	<span th:if="${#fields.hasErrors('password')}"th:errors="*{password}"></span>
	
	<div>
		<input type="submit" value="LOGIN">
	</div>
</form>
<a th:href="@{/signup}">SignUp</a>
</body>
</html>